/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    /*
    padding: 0px;
    margin: 0px;
*/
    text-decoration: none;
    list-style: none;
}

/* Algemene Dingen */
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* Header Styling */
header {
    display: flex;
    flex-direction: column;
    background-color: deeppink;
    padding: 35px;
    text-align: center;
    color: white;
    font-size: 5px;
    text-transform: uppercase;
}

header h1 {
    font-size: 4em;
    font-family: 'Biryani', sans-serif;
    font-weight: bold;
}

header p {
    font-size: 2.5em;
    font-family: 'Biryani', sans-serif;
}

.logo {
    width: 110%;
    height: auto;
}


/*  Nav Styling */
nav {
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Biryani', sans-serif;
    color: whitesmoke;
}

nav ul li a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    font-family: 'Biryani', sans-serif;
}

nav ul li a:hover {
    color: dimgrey;
}


.menu {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3em;
    margin-left: 2em;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.9em;
}

.hamburger {
    border: 0;
    background-color: transparent;
    display: none;
    height: 35px;
    width: 35px;
    align-items: center;
    display: none;
    margin-right: 2em;
}

.hamburger:focus {
    outline: none;
}

@media screen and (max-width:767px) {
    .nav {
        display: none;
        width: 100%;
    }
    
    .nav.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}


/* Content Styling */
.heading {
    font-family: 'Biryani', sans-serif;
    text-align: center;
    margin-top: 1.5em;
}

main img {
    width: 300px;
    height: 290px;
    margin: 0;
    padding: 0 10px 20px 20px;
}

article {
    border-bottom: solid dimgrey 2px;
    margin: 5px; 
}

article h2 {
    margin: 0;
    padding: 20px;
    font-family: 'Biryani', sans-serif;
}

article p {
    font-size: 12px;
    padding: 8px;
    float: right;
    margin-right: 30px;
    border: solid black 2px;
    border-radius: 10px;
    background: lightgray;
}
